body {
  margin: 0;
}

.cards-container{
  flex-wrap: wrap;
  gap: 20px;
}

.activity-card{
  position: relative;
  top: 100px;
  margin-top: 40px;
}

.activity-card img{
  width: 300px;
  height: 200px;
}
