.header-style, .nav-style{
  z-index: 99;
  position: fixed;
}

.header-style {
  height: 60px;
  background-color: #C38154;
}

.nav-style {
  height: 40px;
  background-color: #DFA878;
  top: 60px;
}

.navbar-link{
  color: #113946;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
}

.navbar-link:hover{
  color: #082029;
}

.logo {
  height: 52px;
  width: 60px;
}

.search input {
  height: 40px;
  text-indent: 6px;
  border-radius: 20px;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid #DFA878;
}

footer{
  background-color: #C38154;
  width: 100%;
  height: 50px;
  position: relative;
  top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  font-size: 17px;
  font-weight: 500;
}

@media screen and (max-width: 480px) {
  .navbar-link{
    font-size: 12px;
  }
}